:root {
  --light: #dcf2f1;
  --blue: #7fc7d9;
  --navy: #365486;
  --dark: #0f1035;
}

body {
  background: #f5f5f5;
  margin-top: 20px;
}

/* ===== Career ===== */

dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.img-icon {
  border-radius: 50%;
  height: 70px;
  border: 1px solid black;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.career-form {
  background-color: var(--navy);
  border-radius: 5px;
  padding: 0 16px;
}

.mytrack li {
  font-size: 16px;
  color: #082353;
}

.nopadding {
  padding: 0 !important ;
}

.nomargin {
  margin: 0 !important  ;
}
.eta {
  border-radius: 5px;
  min-width: 100px;
  min-height: 50px;
  padding: 28px 10px;
}

.eta2 {
  background-color: #365486;
  min-width: 100px;
  min-height: 50px;
  border-radius: 10px;
}
.donation-container {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  align-self: flex-start;
}

.donation-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.donation-checkbox {
  margin-right: 10px;
}

.checklist-header {
  color: white;
  font-size: 2rem;
}
.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  font-weight: bold;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.custom-dropdown .select-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 12px 15px;
  color: #000;
  width: 100%;
  align-items: center;
}

.custom-dropdown .dropdown-label {
  font-size: 18px;
  color: #ffffff;
}

.custom-dropdown .dropdown-options {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 99999999999;
}

.custom-dropdown .select-container:hover .dropdown-options {
  display: block;
}

.custom-dropdown .option {
  display: block;
}

.custom-dropdown .option input[type="checkbox"] {
  margin-right: 10px;
}

.custom-dropdown .option span {
  vertical-align: middle;
}

.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #000;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: "\F2F9";
  font-family: "Material-Design-Iconic-Font";
}

.filter-result {
  margin-bottom: 300px;
}
.filter-result .job-box {
  background: #fff;
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
  gap: 2rem;
}

.img-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(78, 99, 215, 0.9)),
    to(#5a85dd)
  );

  background-image: linear-gradient(
    to right,
    rgba(78, 99, 215, 0.9) 0%,
    #5a85dd 100%
  );
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(78, 99, 215, 0.9)),
    to(#5a85dd)
  );
  background-image: linear-gradient(
    to right,
    rgba(78, 99, 215, 0.9) 0%,
    #5a85dd 100%
  );
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 28px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 0;
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.mb-30 {
  margin-bottom: 30px;
}
