12. **Registration for Donors**: As a Donor, I should be able to register using my first name, last
name, gender, email, contact number, password, address, area, governorate so that I can
contribute to meaningful causes and engage in volunteer activities through the platform.

13. **Volunteer Role Selection**: As a Donor, I should be able to choose to be a regular donor,
teacher, or doctor so that I can offer my skills and time effectively based on my expertise and
availability.
14. **Document Upload for Donor Verification**: As a Donor, I should be able to upload
document(s) to prove that I am a doctor or teacher so that I can verify my qualifications and
contribute to relevant initiatives, ensuring that my skills are utilized appropriately.
15. **Clinic Location Specification**: As a Donor, I should be able to specify where my clinic is
located (address, area, governorate, Google marker), my specialty, and how many pro-bono
cases I can take on so that I can provide healthcare services to those in need and contribute to
the community.
16. **Subject and Class Selection for Teaching**: As a Donor, I should be able to specify which
subjects I can teach and how many pro-bono classes I can teach or how many pro-bono
students I can give private tutoring to so that I can share my knowledge and skills effectively
with students in need.
17. **View Requested Donation Items**: As a Donor, I should be able to view a list of all the
requested items to be donated so that I can identify the needs of the community and contribute
to relevant causes.
18. **Search Donation Items by Category**: As a Donor, I should be able to search for
requested items to be donated using category names (clothes, toys, food) so that I can find
specific items to donate based on my preferences and interests.
19. **Category Selection for Donation**: As a Donor, I should be able to choose a category
(clothes, toys, food, medical supplies, school supplies, blood donations) so that I can focus my
donations on areas where they are needed most, maximizing the impact of my contribution.
20. **View List of Clothes Donation Requests**: As a Donor, I should be able to view a list of all
the requested clothes to be donated so that I can find clothing items to donate that match the
needs of the community.
21. **Filter Clothes Donation Requests**: As a Donor, I should be able to filter the requested
clothes by age, gender, and season so that I can donate clothing items that are suitable for
specific recipients and occasions.
22. **View Details of Clothing Items**: As a Donor, I should be able to select a clothing item and
view its details such as type of clothing, age, gender, season, material, and the quantity
requested of that item so that I can make informed donation decisions.
23. **Quantity Selection for Clothing Donations**: As a Donor, I should be able to choose how
many of a specific clothing item posted I want to donate so that I can customize my donation
based on available resources and recipient needs.
24. **View List of School Supplies Donation Requests**: As a Donor, I should be able to view a
list of all the requested school supplies to be donated so that I can identify educational items to
donate and support students in need.
25. **Filter School Supplies Donation Requests**: As a Donor, I should be able to filter the
requested school supplies by books, stationary so that I can donate specific items that are
needed for educational purposes.
26. **View Details of Stationary Items**: As a Donor, I should be able to select a requested
stationary item and view its details such as type of item, and amount requested of that item so
that I can make informed decisions about which items to donate.
27. **Quantity Selection for Stationary Donations**: As a Donor, I should be able to choose how
many of a specific stationary item posted I want to donate so that I can provide adequate
support for educational activities.
28. **View Details of Book Requests**: As a Donor, I should be able to select a requested book
and view its details such as book name, author, language, edition, short summary of what the
book is about, a picture of the book and the quantity required of that book so that I can
contribute relevant educational resources to the community.
29. **Quantity Selection for Book Donations**: As a Donor, I should be able to choose how
many of a specific book posted I want to donate so that I can tailor my donation to meet
educational needs effectively.
30. **View List of Toy Donation Requests**: As a Donor, I should be able to view a list of all the
requested toys to be donated so that I can find toys to donate that align with the preferences
and interests of the recipients.
31. **Filter Toy Donation Requests**: As a Donor, I should be able to filter the requested toys by
age, gender, and category (board games, stuffed toys, dolls, sports, cars, outdoor) so that I can
donate toys that are suitable for specific recipients and occasions.
32. **View Details of Toy Items**: As a Donor, I should be able to select a requested toy and
view its details such as type, age, gender, category, picture of the toy, and quantity requested of
that toy so that I can make informed decisions about which toys to donate.
33. **Quantity Selection for Toy Donations**: As a Donor, I should be able to choose how many
of a specific toy posted I want to donate so that I can provide an appropriate number of toys to
meet the needs of the recipients.
34. **View List of Food Donation Requests**: As a Donor, I should be able to view a list of all the
requested food items to be donated so that I can identify food items to donate that align with the
nutritional needs and preferences of the recipients.
35. **Filter Food Donation Requests**: As a Donor, I should be able to filter the requested food
items by fruits and vegetables, canned foods, fresh meals, baked goods so that I can donate
specific food items that are needed and preferred by the recipients.
36. **View Details of Food Items**: As a Donor, I should be able to select a requested food item
and view its details such as item name and quantity required (in KG if fruits and vegetables and
amount for the rest) so that I can make informed decisions about which food items to donate.
37. **Quantity Selection for Food Donations**: As a Donor, I should be able to choose how
many of a specific food item posted I want to donate so that I can provide an adequate amount
of food to meet the nutritional needs of the recipients.
38. **View List of Medical Supplies Donation Requests**: As a Donor, I should be able to view a
list of all the medical supplies posts to be donated so that I can identify medical supplies to
donate that align with the healthcare needs of the community.
39. **Filter Medical Supplies Donation Requests**: As a Donor, I should be able to filter the
medical supplies posts using medical devices, medical equipment, and medication so that I can
donate specific medical supplies that are needed by healthcare facilities.
40. **Filter Medication Requests**: As a Donor, I should be able to filter the requested
medication based on medical use so that I can donate medications that are relevant and
beneficial for patients.
41. **View Details of Medical Supplies**: As a Donor, I should be able to select a medical
supplies post and view its details such as device type, use, image, quantity so that I can make
informed decisions about which medical supplies to donate.
42. **Quantity Selection for Medical Supplies Donations**: As a Donor, I should be able to
choose how many of the required amount of medical supplies posted I want to donate so that I
can provide sufficient support for healthcare facilities.
43. **View List of Blood Donation Requests**: As a Donor, I should be able to view a list of all
the requested blood donations made by hospitals so that I can identify opportunities to donate
blood and support patients in need.
44. **Filter Blood Donation Requests**: As a Donor, I should be able to filter the requested blood
donations by hospital, governorate, area so that I can donate blood to hospitals that are in
urgent need and accessible to me.
45. **View Details of Blood Donations**: As a Donor, I should be able to select a requested
blood donation and view its details such as name of patient, blood type (including RH type),
hospital name, hospital area, governorate, hospital address so that I can make informed
decisions about blood donation.
46. **View Hospital Locations**: As a Donor, I should be able to view a Google map location
(Google marker) of the hospital location so that I can easily locate the hospital and donate blood
efficiently.
47. **View Teaching Posts**: As a Donor, I should be able to view a list of all the teaching posts
made by organizations so that I can identify opportunities to volunteer as a teacher and support
educational initiatives.
48. **Filter Teaching Posts**: As a Donor, I should be able to filter the teaching posts by subject,
area, and governorate so that I can find teaching opportunities that align with my expertise and
availability.
49. **View Details of Teaching Posts**: As a Donor, I should be able to select a teaching post
and view the details including number of students, address, Google map marker, subjects to be
taught so that I can make informed decisions about volunteering as a teacher.
50. **Choose to Fulfill Teaching Case**: As a Donor, I should be able to choose to fulfill the
teaching case viewed so that I can contribute to educational initiatives and support students in
need effectively.
51. **View Medical Cases**: As a Donor, I should be able to view a list of all the available
medical cases so that I can identify opportunities to volunteer as a healthcare professional and
support patient care.
52. **Filter Medical Cases**: As a Donor, I should be able to filter the medical cases by medical
specialty, organization name, area, and governorate so that I can find medical cases that match
my expertise and availability.
53. **View Details of Medical Cases**: As a Donor, I should be able to select a medical case
and view the details of the case, including patient name, age, gender, weight, location (Google
marker), address, organization name, medical specialty, and case description so that I can
make informed decisions about volunteering for medical care.
54. **Choose to Fulfill Medical Case**: As a Donor, I should be able to choose to fulfill the probono case viewed so that I can contribute to patient care and support healthcare initiatives
effectively.
55. **Transportation Selection for Donation Pickup**: As a Donor, I should be able to choose the
type of transportation (truck/car/motorcycle) I need to come pick up my donated item so that I
can ensure the safe and efficient transfer of donated items.
56. **Schedule Selection for Donation Pickup**: As a Donor, I should be able to choose the time
slot that suits me for the driver to pick up the item(s) so that I can coordinate donation pickups at
my convenience.
58. **View Estimated Time of Arrival**: As a Donor, I should be able to see the ETA of the driver
so that I can plan my schedule accordingly and ensure timely donation pickups.
59. **Receive Notification for Driver Arrival**: As a Donor, I should be able to receive a
notification when the driver arrives so that I can promptly retrieve my donated items and
complete the donation process.
60. **View Registered Organizations**: As an Admin/Donor, I should be able to view a list of all
the organizations registered on the system so that I can explore partnership opportunities and
collaborate with registered organizations effectively.
61. **Search Registered Organizations**: As an Admin/Donor, I should be able to search the list
of organizations registered by name of organization so that I can quickly find specific
organizations and access relevant information.
62. **Filter Registered Organizations**: As an Admin/Donor, I should be able to filter the list of
organizations by area, governorate, and organization type so that I can find organizations that
align with specific criteria and preferences.
63. **View Organization Details**: As an Admin/Donor, I should be able to view the contact
details, address, and location (Google marker) and organization type so that I can gather
relevant information about registered organizations and make informed decisions about
collaboration.
68. **Update/Delete Account Information**: As a Donor/Organization representative, I should be
able to update/delete account information so that I can manage my profile and ensure that my
information is accurate and relevant.